
<div class="container artists-page">
<div class="form">
<div class="page-header">
  <h2>ARTISTS</h2>
  <button id="asearch" class="search-toggle" type="button" name="show" >Advanced Search</button>
</div>

<div class="form advanced-search">
  <%= form_tag artists_path, method: :get do |f| %>
  <div class="form-components row">
    <div class="col-12 col-sm-4">
      <%= label_tag :artist_name %><br>
      <%= text_field_tag :artist_name, params[:artist_name], onchange: "$(this).closest('form').submit()"%>
    </div>
    <div class="col-12 col-sm-4">
      <%= label_tag :price %><br>
      <%= select_tag "price", "<option disabled selected value> -- select an option -- </option> <option value='$'>$</option><option value='$$'>$$</option><option value='$$$'>$$$</option>".html_safe, { :class=>"form-control" }%>
    </div>
    <div class="col-12 col-sm-4">
      <label for="sortable">Sort</label><br>
      <select id="sortable" class="form-control" name="direction">
        <option value="asc">Artist Name A-Z</option>
        <option value="desc">Artist Name Z-A</option>
      </select>
    </div>
    <div class="col-12">
      <%= submit_tag "Search", name: nil, class:"submit"%>
    </div>
  </div>
  <% end %>
</div>
<br>

<div class="card-deck">

  <% @artists.each do |artist| %>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="" />
    <div class="card-block">
      <h4 class="card-title"><%= artist.artist_name %></h4>
      <p class="card-text"><%= artist.price %></p>
      <%= link_to 'Show', artist, { :class=>"card-submit" } %>
      <br>
      <br>
      <% if can? :update, artist %>
      <%= link_to 'Edit', edit_artist_path(artist) %><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
</div>
</div>

<br>
