<div class="container">

<button id="asearch" type="button" name="show" >Advanced Search</button>
<div class="advanced-search">

<%= form_tag artists_path, method: :get do %>
  <%= label_tag :artist_name %>
  <%= text_field_tag :artist_name, params[:artist_name] %>
  <%= label_tag :price %>
  <%= select_tag "price", "<option disabled selected value> -- select an option -- </option> <option value='$'>$</option><option value='$$'>$$</option><option value='$$$'>$$$</option>".html_safe%>
  <select class="form-control" name="direction">
    <option value="asc">Artist Name A-Z</option>
    <option value="desc">Artist Name Z-A</option>
  <%= submit_tag "Search", name: nil %>
<% end %>

</div>



<br>
<div class="artists-list">

  <% @artists.each do |artist| %>
  <div class="card" style="width: 20rem;">
    <img class="card-img-top" src="" alt="Card image cap">
    <div class="card-block">
      <h4 class="card-title"><%= artist.artist_name %></h4>
      <p class="card-text"><%= artist.price %></p>
      <% if can? :update, artist %>
      <%= link_to 'Edit', edit_artist_path(artist) %><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <%= link_to 'Show', artist, { :class=>"btn btn-primary" } %>
    </div>
  </div>
  <% end %>
</div>




<br>
</div>
