<button id="asearch" type="button" name="show" >Advanced Search</button>
<div class="advanced-search">

<%= form_tag artists_path, method: :get do %>
  <%= label_tag :artist_name %>
  <%= text_field_tag :artist_name, params[:artist_name] %>
  <%= label_tag :price %>
  <%= select_tag "price", "<option disabled selected value> -- select an option -- </option> <option value='$'>$</option><option value='$$'>$$</option><option value='$$$'>$$$</option>".html_safe%>
  <select class="form-control" name="direction">
    <option value="asc">Artist Name A-Z</option>
    <option value="desc">Artist Name Z-A</option>
  <%= submit_tag "Search", name: nil %>
<% end %>

</div>



<br>

<%= link_to 'New Artist', new_artist_path %>

<table>
  <thead>
    <tr>
      <th>Artist Name</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Website</th>
      <th>Sales</th>
      <th>Phone</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.artist_name %></td>
        <td><%= artist.first_name %></td>
        <td><%= artist.last_name %></td>
        <td><a href="mailto:<%= artist.email %>"><%= artist.email %></a></td>
        <td><%= artist.street %></td>
        <td><%= artist.city %></td>
        <td><%= artist.state %></td>
        <td><%= artist.zipcode %></td>
        <td><a href="<%= artist.website %>"><%= artist.website %></a></td>
        <td><%= artist.sales %></td>
        <td><%= artist.phone %></td>
        <td><%= artist.price %></td>
        <td><a href="tel:<%= artist.phone %>"><%= artist.phone %></a></td>
        <td><%= link_to 'Show', artist %></td>
        <% if can? :update, artist %>
        <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
        <td><%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
