<div class="container artists-page">

<div class="page-header">
  <h2>ARTISTS</h2>
  <button id="asearch" class="search-toggle" type="button" name="show" >Advanced Search</button>
</div>

<div class="form advanced-search">
  <%= form_tag artists_path, method: :get do |f| %>
  <div class="form-components row">
    <div class="col-12 col-sm-4">
      <%= label_tag :artist_name %><br>
      <%= text_field_tag :artist_name, params[:artist_name], onchange: "$(this).closest('form').submit()"%>
    </div>
    <div class="col-12 col-sm-4">
      <%= label_tag :price %><br>
      <%= select_tag "price", "<option disabled selected value> -- select an option -- </option> <option value='$'>$</option><option value='$$'>$$</option><option value='$$$'>$$$</option>".html_safe, { :class=>"form-control" }%>
    </div>
    <div class="col-12 col-sm-4">
      <label for="sortable">Sort</label><br>
      <select id="sortable" class="form-control" name="direction">
        <option value="asc">Artist Name A-Z</option>
        <option value="desc">Artist Name Z-A</option>
      </select>
    </div>
    <div class="col-12">
      <%= submit_tag "Search", name: nil, class:"submit"%>
    </div>
  </div>
  <% end %>
</div>
<br>

<div class="card-deck">

  <% @artists.each do |artist| %>
    <%= link_to artist do %>
      <div class="card">
        <% if artist.arts.first %>
          <%= image_tag artist.arts.first.image.url(:large), class: "card-img" %>
        <% end %>
        <div class="card-block">
          <h4 class="card-title"><%= artist.artist_name %></h4>
          <h4 class="card-text"><%= artist.price %></h4>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

</div>

<br>

