<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="events-form">

    <div class="field datesize center form-group ">
      <%= form.label :date %>
      <div class="select-style">
        <%= form.date_select :date, id: :event_date, class: "form-control " %>
      </div>
    </div>

    <div class="form-horizontal center">
    <div class="field form-group">
      <%= form.label :start %>
      <div class="select-style">
        <%= form.time_select :start, id: :event_start, class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <%= form.label :end %>
      <div class="select-style">
        <%= form.time_select :end, id: :event_end, class: "form-control" %>
      </div>
    </div>

    <div class="field form-group">
      <%= form.label :gallery_id %>
      <!-- <%= form.text_field :gallery_id, id: :event_gallery_id, class: "form-control" %> -->
      <%= form.collection_select :gallery_id, @gallery, :id, :name %>
    </div>

    <div class="field">
    <%= form.hidden_field :artist_id, :value => @artist %>
    </div>


    <div class="field">
      <%= form.hidden_field :email, :value => @user.email %>
    </div>

    <div class="field">
    <%= form.hidden_field :password, :value => @user.password %>
    </div>

    <div class="field">
    <%= form.hidden_field :user_id, :value => @user.id %>
    </div>

  </div>
  <div class="actions">
    <%= form.submit :class => "search-toggle create-event"%>
  </div>


</div>
<% end %>
