<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start.strftime("%H:%M") %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end.strftime("%H:%M") %>
</p>

<p>
  <strong>Gallery:</strong>
  <%= @event.gallery.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @event.artist.alias %>
</p>

<p>
  <strong>Art:</strong>
  <%= @event.art.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
