<p id="notice"><%= notice %></p>
<input id="address" type="hidden" value="<%= Event.find(params[:id]).gallery.street %>,<%= Event.find(params[:id]).gallery.city %>,<%= Event.find(params[:id]).gallery.state %>,<%= Event.find(params[:id]).gallery.zipcode %>">

<style>
  #showmap {
    height: 50vh;
  }
</style>

<script>
  function initMap() {
  var map = new google.maps.Map(document.getElementById('showmap'), {
    zoom: 15,
    center: {lat: 32.70961, lng: -117.1579991}
  });

  var geocoder = new google.maps.Geocoder();

  function geocodeme() {
    geocodeAddress(geocoder, map);
  };
  geocodeme()
}

function geocodeAddress(geocoder, resultsMap) {
  var address = document.getElementById('address').value;
  geocoder.geocode({'address': address}, function(results, status) {
    if (status === 'OK') {
      resultsMap.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: resultsMap,
        position: results[0].geometry.location
      });
      var l1 = results[0].geometry.location.lat()
      var l2 = results[0].geometry.location.lng()
    } else {
      alert('Geocode was not successful for the following reason: ' + status);
    }
  });
}

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH6kpKgMyIrX12CYckcHQt3eEesCTbIlo&callback=initMap">
</script>



<div id="showmap">

</div>



<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Start:</strong>
  <%= @event.start.strftime("%H:%M") %>
</p>

<p>
  <strong>End:</strong>
  <%= @event.end.strftime("%H:%M") %>
</p>

<p>
  <strong>Gallery:</strong>
  <%= @event.gallery.name %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @event.artist.artist_name %>
</p>

<p>
  <strong>Art:</strong>
  <%= @event.art.description %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
