<h1>Advanced Search</h1>

<%= form_for @advanced_search, html: {class: "pure-form"} do |s| %>

  <div class="field">
    <%= s.label :keywords %><br />
    <%= s.text_field :keywords %>
  </div>

  <div class="field">
    <%= s.label :genre %><br>
    <%= s.text_field :genre %>
  </div>

  <div class="field">
    <%= s.label :alias %><br />
    <%= s.text_field :alias %>
  </div>

  <div class="actions">
    <%= s.submit "Search" %>
  </div>

<% end %>

<p><%= link_to 'Back', artists_path %></p>
