<!-- <div class="upload-page">
  <div class="form"> -->
<%= form_with(model: art, local: true, html: { multipart: true }) do |form| %>
  <% if art.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(art.errors.count, "error") %> prohibited this art from being saved:</h2>

      <ul>
      <% art.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="art-form">

    <div class="form-horizontal center">
      <%= form.file_field :image %>

      <div class="field form-group">
        <%= form.label :genre %>
        <%= form.text_field :genre, id: :art_genre, class: "form-control col-xs-4" %>
      </div>

      <div class="field form-group">
        <%= form.label :description %>
        <%= form.text_field :description, id: :art_description, class: "form-control col-xs-4" %>
      </div>

      <div class="field form-group">
        <%= form.label :price %>
        <%= form.number_field :price, id: :art_price, class: "form-control col-xs-4" %>
      </div>

      <div class="field form-group">
        <%= form.label :length %>
        <%= form.text_field :length, id: :art_length, class: "form-control col-xs-4" %>
      </div>

      <div class="field form-group">
        <%= form.label :width %>
        <%= form.text_field :width, id: :art_width, class: "form-control col-xs-4" %>
      </div>

      <div class="field form-group">
        <%= form.hidden_field :user_id, :value => @user.id %>
      </div>
      <div class="field form-group">
        <%= form.hidden_field :artist_id, :value => @artist %>
      </div>

      <div class="field form-group">
        <%= form.label :medium %>
        <%= form.text_field :medium, id: :art_medium, class: "form-control col-xs-4" %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit 'Upload Art', :class => "search-toggle create-art" %>
    </div>
  </div>
<% end %>
