<div class="filterrific_results">



  <div class="container">
  <div class="container3">

    <div class="card-deck" id="artpage">
      <% @arts.each do |art| %>
      <div class="card art-card">
        <div class="art-image">
        <%= link_to image_tag(art.image.url(:small), :class => "art", ), art.image.url(:original), :rel => "lightbox[imagesetname]", data: {lightbox: "pics", title: "#{art.description} #{art.genre} by #{art.artist.artist_name} $#{art.length} #{link_to "Buy This Piece", art}" }  %>
        </div>
        <div class="art-details">
           <h5>Artist: <%= art.artist.artist_name %></h5>
           <h5>Description:</h5>
           <h5 class="art-description"><%= art.description %></h5>
           <h5 class="art-price">$<%= art.price %></h5>
        </div>
       </div>
       <% end %>
       <%= will_paginate %>
     </div>
  </div>
</div>

</div>
