<div class="filterrific_results">



  <!-- <div class="container">
  <div class="container3"> -->

  <div class="card-deck">
    <% @arts.each do |art| %>
      <%= link_to art do %>
        <div class="card">
          <%= image_tag art.image.url(:large), class: "card-img" %>
          <div class="card-block">
            <h5 class="card-title">Artist: <%= art.artist.artist_name %></h5>
            </br>
            <h5 class="card-title">Title: <%= art.title %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= will_paginate %>
  </div>
  <!-- </div>
</div> -->

</div>
