<div class="new-art-page">

<p id="notice"><%= notice %></p>

<%= link_to image_tag(@art.image.url(:large)) %>

<p>
  <strong>Genre:</strong>
  <%= @art.genre %>
</p>

<p>
  <strong>Description:</strong>
  <%= @art.description %>
</p>

<p>
  <strong>Size</strong>
  <%= @art.length %>" x <%= @art.width %>"
</p>

<p>
  <strong>Medium:</strong>
  <%= @art.medium %>
</p>

<p>
  <strong>Artist:</strong>
  <%= @art.artist.artist_name %>


<!-- <form class="checkout" action="charges" method="get">
  <input type="hidden" name="price" value="<%= @art.price %>">
  <input type="hidden" name="id" value="<%= @art.id %>">
  <button type="submit">Buy Now</button>
</form> -->

<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="amount">
      <span><p>
        <strong>Price:</strong>
        $<%= @art.price %>
      </p></span>
    </label>
  </article>
   <strong>Buy this print:</strong>
   <p>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Buy This Print"
          data-amount="<%= @art.price * 100 %>"
          data-locale="auto"></script>
<% end %>
<br>

<%= link_to 'Edit', edit_art_path(@art), class: "search-toggle new-art-edit", type: "button" %>
<%= link_to 'To Art Page', arts_path, class: "search-toggle new-art-back", type: "button" %>
<%= link_to 'Profile', artist_path(@artist), class: "search-toggle new-art-back", type: "button" %>
<%#= link_to 'Back to artist profile', artists_path(@user) %>
