<p id="notice"><%= notice %></p>

<h1>Galleries</h1>
<div  class="card-deck">
 <div id="map" class="card flex-first"></div>
   <% @galleries.each do |gallery| %>
     <%= link_to gallery do%>
       <div class="card flex-unordered">
         <div class="card-block">
           <h4 class="card-title"><%= gallery.name %></h4>
           <% end %>
           <h6 class="card-subtitle mb-2 text-muted">Hours: <%= gallery.opening.strftime("%H:%M") %> - <%= gallery.closing.strftime("%H:%M") %></h6>
           <p class="card-text"><%= gallery.description %></p>
           <a href="<%= gallery.website %>"><%= gallery.website %></a><br />
           <a href="tel:<%= gallery.phone %>"><%= gallery.phone %></a><br />
           <%= link_to 'Show', gallery %>
           <%= link_to 'Edit', edit_gallery_path(gallery) %>
           <%= link_to 'Destroy', gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
         </div>
       </div>
   <% end %>
 </div>
</div>
<br>

<%= link_to 'New Gallery', new_gallery_path %>
<script src="https://maps.google.com/maps/api/js?key=AIzaSyDoQxkuNTRyYO6fgdTmZJGz7RWOs1dn-uA&callback=initMap" type="text/javascript"></script>
