<div class="galleries-page container">

  <p id="notice"><%= notice %></p>

  <!-- Using the Google Map API search box (hidden mode) to Pin the gallery on the map -->
  <input id="address" type="hidden" value="<%= @gallery.street %>,<%= @gallery.city %>,<%= @gallery.state %>,<%= @gallery.zipcode %>">

  <!-- Google Map API script -->
  <script>
    function initMap() {
    var map = new google.maps.Map(document.getElementById('showmap'), {
      zoom: 15,
      center: {lat: 32.70961, lng: -117.1579991}
    });

    var geocoder = new google.maps.Geocoder();

    function geocodeme() {
      geocodeAddress(geocoder, map);
    };
    geocodeme()
  }

  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address').value;
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === 'OK') {
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location
        });
        var l1 = results[0].geometry.location.lat()
        var l2 = results[0].geometry.location.lng()

      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH6kpKgMyIrX12CYckcHQt3eEesCTbIlo&callback=initMap">
  </script>

  <div  class="container">
    <div id="showmap" class=""></div>
    <div class="gallery-details">
      <div class="detail">
        <strong>Name:</strong>
        <p>
          <%= @gallery.name %>
        </p>
      </div>
      <div class="detail">
        <strong>Description:</strong>
        <p>
          <%= @gallery.description %>
        </p>
      </div>
      <div class="detail">
      <strong>Website:</strong>
        <p>
          <a href="<%= @gallery.website %>"><%= @gallery.website %></a>
        </p>
      </div>
      <div class="detail">
        <strong>Phone:</strong>
        <p>
          <a href="tel:<%= @gallery.phone %>"><%= @gallery.phone %></a>
        </p>
      </div>
      <div class="detail">
        <strong>Opening:</strong>
        <p>
          <%= @gallery.opening.strftime("%H:%M") %>
        </p>
      </div>
      <div class="detail">
        <strong>Closing:</strong>
        <p>
          <%= @gallery.closing.strftime("%H:%M") %>
        </p>
      </div>
      <div class="detail">
        <strong>Street:</strong>
        <p>
          <%= @gallery.street %>
        </p>
      </div>
      <div class="detail">
        <strong>City:</strong>
        <p>
          <%= @gallery.city %>
        </p>
      </div>
      <div class="detail">
        <strong>State:</strong>
        <p>
          <%= @gallery.state %>
        </p>
      </div>
      <div class="detail">
        <strong>Zipcode:</strong>
        <p>
          <%= @gallery.zipcode %>
        </p>
      </div>
    <!-- End of item2 -->
    </div>
  <!-- End of container Div -->
  </div>

  <%= link_to 'Edit', edit_gallery_path(@gallery) %> |
  <%= link_to 'Back', galleries_path %>
</div>
