<div class="header-image">
  <h3 class="white align-offset about-text-top">Who we are</h2>
  <h1 class="white align-offset about-text-bottom">Designers, artists & collaborators</h3>
</div>
<div id="about-background">
  <h2 class="align-weird eggplant about-text">Led by students at Learn Academy, we are an online marketplace for local artists to deal directly with their respective markets.</h2>
  <div class="p-container align-weird">
    <p>We pride ourselves on your process, your craft and you desire to provide ar tot the community. We believe in supporting the local community by putting artists first. We take pride in all of our work and hope to see you on LocalArtFinder soon!
    </p>

    <p>We're agile, flexible, repsonsive and adaptive.  There's no platform similar to ours, no developers without art experience - just a dedicated group of professionals who are all across, and focused on, your success.
    </p>
  </div>
  <h2 class="align-weird eggplant about-text">Our Team</h2>
  <div class="row">
     <div class="col leftmost">
       <%= image_tag("bri.png",class: "image-center", size: '100x100') %>
      <p class="text-center">Bri Kutauskas</p>
      <div class="text-center">
      <a href="http://linkedin.com/in/brianna-kutauskas" class="black-a">  <i class="fa fa-linkedin-square" aria-hidden="true">/Brianna-Kutauskas</i></a>
      <br>
      <a href="https://github.com/BriKutauskas" class="black-a"><i class="fa fa-github" aria-hidden="true">/BriKutauskas</i></a>
      </div>
     </div>
     <div class="col">
       <%= image_tag("garrett.png",class: "image-center", size: '100x100') %>
       <p class="text-center">Garrett Hughes</p>
       <div class="text-center">
         <a href="https://www.linkedin.com/in/garrett-hughes" class="black-a"> <i class="fa fa-linkedin-square" aria-hidden="true">/Garrett-Hughes</i></a>
         <br>
         <a href="https://github.com/GarrettJMU" class="black-a"> <i class="fa fa-github" aria-hidden="true">/GarrettJMU</i></a>
       </div>
      </div>
     <div class="col">
       <%= image_tag("mark.png",class: "image-center", size: '100x100') %>
      <p class="text-center">Mark Cento</p>
      <div class="text-center">
        <a href="https://www.linkedin.com/in/markcento" class="black-a"><i class="fa fa-linkedin-square" aria-hidden="true">/MarkCento</i></a>
        <br>
        <a href="https://github.com/MarkCento" class="black-a"> <i class="fa fa-github" aria-hidden="true">/MarkCento</i></a>
      </div>
     </div>
     <div class="col">
       <%= image_tag("matt.png", class: "image-center",size: '100x100') %>
      <p class="text-center">Matthieu Tripoli</p>
      <div class="text-center">
        <a href="https://linkedin.com/in/matthieu-tripoli" class="black-a"><i class="fa fa-linkedin-square" aria-hidden="true">/Matthieu-Tripoli</i></a>

        <br>
        <a href="https://github.com/tieum27" class="black-a"><i class="fa fa-github" aria-hidden="true">/tieum27</i></a>
      </div>
     </div>
     <div class="col rightmost">
       <%= image_tag("sandro.png",class: "image-center", size: '100x100') %>
      <p class="text-center">Sandro Hallado</p>
      <div class="text-center">
        <a href="http://linkined.com/in/sandrohallado" class="black-a"><i class="fa fa-linkedin-square" aria-hidden="true">/SandroHallado</i></a>
        <br>
        <a href="http://github.com/shallado" class="black-a"><i class="fa fa-github" aria-hidden="true">/Shallado</i></a>
     </div>
  </div>

</div>
<div class="spacing-box" style="height: 5vh;">
</div>
