<!DOCTYPE html>
<html>
  <head>
    <title>LocalArtFinder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  </head>

  <body>
    <p>     <%= if !current_user.nil?
     current_user.email + ' (' + current_user.roles.pluck(:name).join(",") + ')'
       end
    %>    
   <div class="search">
     <form  action="galleries" method="get">
       <input type="text" class="searchTerm"
       name = "gallery" placeholder="Search Site">
       <button type="submit"
       class="searchButton"
       name="button">Submit</button>
     </form>
   </div>
</div> 
  </p>
       
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
